venv*/
.venv*/
venv/
build/
dist/
test/*.ini
__pycache__/
.vscode/
*.xlsx
*.pkl
*last_screened_*.pkl
pkbrokers/*.txt
pkbrokers/*.md
*.spec
.DS_Store
Help
DeleteThis
Cookies
*.h5
*model*.pkl
*.ini
*.env
*.dev
*.png

*.pyc
PKDevTools/__pycache__
PKDevTools/classes/__pycache__
kite/__pycache__
*.egg-*/*
*.json
*.html
.coverage.*
.coverage
*.exe
*.bin
*.run
*.sqlite
*.sh
*.db
*.db*
*.bat
*.png
*.jpg
*.pdf
*.txt
*.whl
kite/*.txt
*.sh
*.cache
*.log
*.dev