aiosqlite
alive_progress
argparse
blinker
brotli
bs4
cloudscraper
filelock
gitpython
libsql
mistletoe
numpy
pandas
pikepdf
Pillow #==9.5.0 # Keep at this version because getsize_multiline is deprecated/removed in higher versions
pyotp
python-dotenv
python-telegram-bot>=13.4,<20.0 # LGPLv3
pytz
requests
requests_cache
tabulate
telegram
typing_extensions
urllib3
yfinance #==0.1.87
